# Rails
RAILS_ENV=development
RAILS_LOG_TO_STDOUT=true

# Postgres
POSTGRES_USER=user_admin
POSTGRES_PASSWORD=password_admin

ORDER_DB=order_service_development
CUSTOMER_DB=customer_service_development

# Host ports
ORDER_DB_PORT=5433
CUSTOMER_DB_PORT=5434

# RabbitMQ
RABBITMQ_DEFAULT_USER=app
RABBITMQ_DEFAULT_PASS=app_password
RABBITMQ_AMQP_PORT=5672
RABBITMQ_HTTP_PORT=15672

# Services ports
ORDERS_PORT=3000
CUSTOMERS_PORT=3001

# Internal service URL (container network) - NOTE: no underscores
CUSTOMER_SERVICE_URL=http://customer-service:3001
