# System files
.DS_Store

# Dependencies and temporary files for Rails
**/node_modules/
**/log/*.log
**/tmp/
**/.bundle/
**/public/assets/
**/public/packs/
**/public/packs-test/
**/storage/*
!**/storage/.keep
**/coverage/

# Database config and master key
**/config/database.yml
**/config/master.key
**/db/*.sqlite3
**/db/*.sqlite3-journal
.env

# Ruby/rbenv files
.ruby-version
.ruby-gemset
